<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!--    <parameter name="brouser" value="chrome"/>-->
    <!--    <parameter name="url" value="google.com"/>-->
    <test name="AssertionsExamplesMobile">
        <classes>
            <class name="AssertionsExamplesMobile"></class>
        </classes>
    </test>
</suite>